<footer class="bg-gray-800 text-white py-12">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col divide-y divide-gray-700">
    <div class="flex justify-between items-center pb-6">
      {/* Bible Verse */}
      <div class="text-left text-gray-400 text-sm max-w-80">
          <span class="">Study to show thyself approved unto God, a workman who needeth not to be ashamed, rightly dividing the word of truth.</span>
          <span class="font-semibold">2 Timothy 2:15</span>
      </div>

      <!-- <div class="flex text-gray-400 text-sm">
        <div class="flex space-x-4">
          <a href="/alumni" class="hover:text-white transition">Alumni</a>
          <a href="/scholarships" class="hover:text-white transition">Scholarships</a>
          <a href="/philanthropy" class="hover:text-white transition">Philanthropy</a>
        </div>
      </div> -->
    </div>
    
    <div class="flex justify-between items-center pt-4">
      <p class="text-sm text-gray-400">Copyright © 2024 Alpha Gamma Omega. All Rights Reserved.</p>
      <div class="flex space-x-4">
        <a href="https://instagram.com/AGOFraternity" class="text-gray-400 hover:text-white transition">
          <img src="/ago/instagram-color.svg" alt="Instagram" class="h-5 w-5" />
        </a>
        <a href="https://linkedin.com/company/ago-fraternity" class="text-gray-400 hover:text-white transition">
          <img src="/ago/linkedin-color.svg" alt="LinkedIn" class="h-5 w-5" />
        </a>
        <a href="https://facebook.com/AGOFraternity" class="text-gray-400 hover:text-white transition">
          <img src="/ago/facebook-color.svg" alt="Facebook" class="h-5 w-5" />
        </a>
        <a href="https://twitter.com/AGOFraternity" class="text-gray-400 hover:text-white transition">
          <img src="/ago/x-color.svg" alt="Twitter" class="h-5 w-5" />
        </a>
        <a href="https://youtube.com/@AGOFraternity" class="text-gray-400 hover:text-white transition">
          <img src="/ago/youtube-color.svg" alt="YouTube" class="h-5 w-5" />
        </a>
      </div>
    </div>
  </div>
</footer>
