<div class="relative h-[600px] m-4">
  {/* Background Image */}
  <div 
    class="absolute inset-0 bg-cover bg-center bg-no-repeat rounded-lg"
    style="background-image: url('/ago/campus.jpg');"
  >
    {/* Dark overlay */}
    <!-- <div class="absolute inset-0 bg-black bg-opacity-50 rounded-lg"></div> -->
  </div>

  {/* Content */}
  <div class="relative h-full flex flex-col justify-center items-center text-center text-white px-4 max-w-4xl mx-auto">
    <h1 class="text-5xl font-bold mb-6">The only Christ-centered fraternity on campus</h1>
  </div>
</div>
